// customizations go in here

$primary: #07689f;
$secondary: #7897ab;
$error: #b8405e;
$base-border-radius: 0px;

@import './src/styles/eryngi';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
